<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Discuss · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>

<link href="https://cdnjs.cloudflare.com/ajax/libs/material-components-web/3.0.0/material-components-web.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <ul>
            <li>Discuss</li>
          </ul>
          <ul class="right">
            <%= if @conn.assigns[:user] do %>
            <li>
              <%= link "Logout", to: Routes.auth_path(@conn, :signout)%>
            </li>
            <% else %>
              <li>
                <%= link "Sign in with Github", to: Routes.auth_path(@conn, :request, "github") %>
              </li>

            <% end %>

          </ul>
        </nav>

      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
