<h4>Topics</h4>

<ul class="collection">
  <%= for topic <- @topics do %>
    <li class="collection-item">
      <%= link topic.title, to: Routes.topic_path(@conn, :show, topic) %>

      <%= if @current_user do %>
       <div class="right">
            <%= link "Edit", to: Routes.topic_path(@conn, :edit, topic) %>
            <%= link "Delete", to: Routes.topic_path(@conn, :delete, topic), method: :delete, data: [confirm: "Are you sure?"] %>
          </div>

          <div class="fixed-action-btn">
            <%= link to: Routes.topic_path(@conn, :new), class: "btn-floating btn-large waves-effect waves-light red" do %>
            <i class="material-icons">add</i>
            <% end %>
          </div>


          <% end %>

    </li>
  <% end %>

</ul>

  </div>
