<h5><%= @topic.title %></h5>
<div class="input-field">
  <textarea class="materialize-textarea"></textarea>

  <button class="btn" >Add Comment</button>
  <ul class="collection">

  </ul>
</div>


<script>
document.addEventListener("DOMContentLoaded", function() {
  window.createSocket(<%= @topic.id %>)
});
</script>
